
.h2-gallery-name  {
    margin-bottom: 5px;
}

.h1-gallery-name  {
    margin-bottom: 5px;
}

.gallery-subtitle {
    margin-bottom: 15px;
}

.asdf {
  color: #777777;
  font-size: 22px;
  font-style: italic;
  margin-top: 0;
}

.pagination-nav {
  margin: 30px;
}

.gallery-margin {
    margin-bottom: 35px;
}